{% extends "inner.html" %}
{% block title %}Random number generator{% endblock title %}
{% block desc %}Simple online random number generator{% endblock desc %}
{% block inner_content %}
<section>
  <h1>Random generator<h1>
  <h3>Result</h3> 
  <h2>"{{ result }}"</h2>
</section>
<section>
<form action="/random">
    <input
        type="text"
        class="min"
        name="min"
        value="{{ min_val }}"
        placeholder="min value"/>
    <input
        type="text"
        class="max"
        name="max"
        value="{{ max_val }}"
        placeholder="max value"/>
    <button>Generate new val</button>
</form>
</section>
{% endblock inner_content %}
